<!DOCTYPE html>
<html>
<head>
  <title>Soapbox</title>
  <%= stylesheet_link_tag    "soapbox/application", media: "all" %>
  <%= javascript_include_tag "soapbox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
